<div class="post-line" style="align-items: normal; padding-bottom: 20px;">

    {{ $dateFormat := "2 Jan 2006"}}
    {{ with .Site.Params.listDateFormat }}
    {{ $dateFormat = .}}
    {{ end }}

  <div>
    <p class="line-date">{{ .Date | time.Format $dateFormat }} </p>
  </div>

  <div style="width: 170px; height: 96px;">
    {{ with .Resources.GetMatch .Params.featuredImage }}
    <img style="width: 170px; height: 96px;" class="slide-featured-image" src="{{ .RelPermalink }}">
    {{ end }}
  </div>
  <a class="slide-decoration-wrapper" href="{{ .Params.directLink }}">
  <div class="slide-decoration">
    »
  </div>
  </a>
  <a style="text-decoration: none;" href="{{ .RelPermalink }}">
      <span class="line-title" style="text-decoration: underline;">{{ .Title }}</span>
        {{ if .Site.Params.listSummaries }}
        <p class="line-summary-slides"> {{ .Summary }} </p>
        {{ end }}
  </a>
</div>
